:root {
    --color-yellow: #F3DB7D;
    --color-red: #F37D7D;
    --color-green: #C2F37D;
    --color-blue: #7DE1F3;
    --color-purple: #E77DF3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
}

.no_select {
    user-select: none;
}

/* =============== Header =============== */

.header {
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
}

.logo img {
    height: 24px;
    object-fit: contain;
    margin: 18px 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

.note_counter {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

/* =============== Main =============== */

.notes_create_wrapper {
    border-radius: 4px;
    padding: 24px;
    margin-top: 24px;
    width: 100%;
    max-width: 1152px;
    height: 228px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #fff;
}

.note-form {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #919191;
}

.name_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.note_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #292515;

    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 344px;
    height: 36px;
}

.description_wrapper {
    display: flex;
    gap: 24px;
}

.description_form {
    display: flex;
    flex-direction: column;
}

.note_description {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 848px;
    height: 84px;
    resize: none;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.note_description::placeholder, .note_title::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #919191;
}

/* ============== Color ============== */

fieldset {
    all: unset;
}

legend {
    all: unset;
}

.radio-list {
    display: flex;
    margin-bottom: 12px;
    list-style: none;
    padding-left: 0;
}

.radio-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    gap: 8px;
}

.radio {
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

.radio:checked {
    box-shadow: 0 0 0 3px white, 0 0 0 4.5px #007BFF;
}

.radio[value="yellow"] {
    background-color: var(--color-yellow);
}

.radio[value="red"] {
    background-color: var(--color-red);
}

.radio[value="green"] {
    background-color: var(--color-green);
}

.radio[value="blue"] {
    background-color: var(--color-blue);
}

.radio[value="purple"] {
    background-color: var(--color-purple);
}

.add_note_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;

    border-radius: 10px;
    border: none;
    padding: 6px 24px;
    width: 232px;
    height: 36px;
    background-color: #457cdc;
    cursor: pointer;
    transition: 0.3s ease;
}

.add_note_button:hover {
    background-color: #3b6db4;
    transform: scale(1.05);
}

/* ============== Filter ============== */

.filter-box {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #000000;
    margin: 24px 0 12px;

    display: flex;
    justify-content: end;
}

.filter-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    background-size: cover;
}

.filter-checkbox {
    background-image: url('/images/icons/main/checkbox-inactive.svg');
}

.checkbox:checked + .custom-checkbox {
    background-image: url('/images/icons/main/checkbox-active.svg');
}

/* ============== Screen message ============== */

.no-notes-screen-massage, .no-favorite-notes-screen-massage {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
}

.no-notes-screen-massage {
    margin: 138px auto 0;
}

.no-favorite-notes-screen-massage {
    margin: 155px auto 0;
}

/* ============== Notes list ============== */

.notes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.note-wrapper {
    border-radius: 10px;
    width: 368px;
    min-height: 216px;
    box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
}

.note-header {
    display: flex;
    justify-content: space-between;

    padding: 12px;
    border-radius: 10px 10px 0 0;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
}

.note-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #292515;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.favorite-checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.favorite-checkbox, .delete-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/*.favorite-checkbox::before {*/
/*    content: '';*/
/*    background-image: url('/images/icons/main/heart-inactive.svg');*/
/*    background-size: contain;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*}*/

/*.favorite-button:checked + .favorite-checkbox::before {*/
/*    background-image: url('/images/icons/main/heart-active.svg');*/
/*}*/

.note-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
    padding: 12px;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: auto;
}