*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1152px;
    /*padding: 0 15px;*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

/* =============== Header =============== */

.header {
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px green solid;
    background-color: #ffffff;
    /*padding: 18px 0;*/                                        /* FIX */
}

.menu {
    display: flex;
    gap: 12px;
}

.note_counter {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

/* =============== Main =============== */

.notes_create_wrapper {
    border-radius: 4px;
    padding: 24px;
    margin: 24px 0;
    width: 1152px;
    height: 228px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #fff;
}

.note-form {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #919191;
}

.name_wrapper {
    margin: 12px;
}

.note_input {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 344px;
    height: 36px;
}

.note_description {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 848px;
    height: 84px;
}

.colors-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.circle {
    border-radius: 100%;
    width: 24px;
    height: 24px;
}

.yellow {background-color: #f3db7d;}

.green {background-color: #c2f37d;}

.blue {background-color: #7de1f3;}

.red {background-color: #f37d7d;}

.purple {background-color: #e77df3; }

.add_note_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;

    border-radius: 10px;
    border: none;
    padding: 6px 24px;
    width: 232px;
    height: 36px;
    background-color: #457cdc;
}