*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1152px;
    /*padding: 0 15px;*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px green solid;
    /*padding: 18px 0;*/
}

.menu {
    display: flex;
    gap: 12px;
}

.note_counter {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

.notes_create_wrapper {
    border-radius: 4px;
    padding: 24px;
    width: 1152px;
    height: 228px;
}

.note-form {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #919191;
}

.note_input {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 344px;
    height: 36px;
}